@{
    ViewData["Title"] = "Giới thiệu";
}

<div class="section section-about section-cent fp-auto-height-responsive fp-section anim fp-completely" data-section="about-us" data-anchor="about-us">
   <div class="fp-scrollable">
      <div class="fp-scroller" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
         <section class="content clearfix">
            <!-- content title -->
            <!--<div class="c-title"> <h2>Our company</h2> </div>-->
            <!-- left elements -->
            <div class="c-left anim">
               <div class="wrapper">
                  <!-- title and description -->
                  <header class="title-desc">
                     <span class="anim-wrapper">
                        <h3 class="title">About Us</h3>
                     </span>
                     <span class="anim-wrapper">
                        <h2>Saved My Life</h2>
                     </span>
                     <span class="anim-wrapper">
                        <p>[...] Đời thì ai cũng phải sống, dù chỉ kiếm đuợc vài đồng, thì tôi cũng mong mỗi đêm nằm xuống hay nhìn vào gương và hài lòng. #yunbray</p>
                     </span>
                  </header>
                  <!-- Action button -->
                  <div class="cta-btns">
                     <span class="anim-wrapper"><a class="btn arrow-circ-btn" href="#services">
                     <span class="txt">Xem tiếp</span>
                     <span class="arrow-icon"></span>
                     </a></span>
                  </div>
               </div>
            </div>
            <!-- end of left elements -->
            <!-- right elements -->
            <div class="c-right anim">
               <!-- title and texts wrapper-->
               <div class="wrapper">
                  <!-- title and description -->
                  <div class="title-desc">
                     <span class="anim-wrapper">
                        <h4>Đôi lời:</h4>
                     </span>
                     <span class="anim-wrapper">
                        <p>Tôi thuộc tiếp người an phận, thỉnh thoảng hơi bực bội xung quanh một chút nhưng rồi lại thôi, ví dụ như ngoài đường cướp giật nhiều thì tôi sẽ ít ra đường một chút, công việc khó tìm hơn thì tôi sẽ giỏi hơn chút nữa, xếp hàng có người chen lên trước thì tôi bị trễ chút cũng không chết ai, rồi cá chết xếp lớp dài, tôi ngưng ăn cá, rồi rau phun chất độc tôi tự trồng rau ăn, trà xanh không độ có ruồi, C2 có chì, tôi sẽ chuyển qua uống nước lọc, chà, coi bộ người an phận như tôi cuối cùng sẽ không còn có không khí mà thở nhỉ? Vì không khí cũng đang nhiễm thủy ngân mất rồi.</p>
                     </span>
                     <!--<div class="illustr"> <img src="/img/bg-default4.jpg" alt="Illustration"> </div>-->
                  </div>
               </div>
            </div>
            <!-- end of right elements -->
         </section>
      </div>
   </div>
</div>

<script>
	$(document).ready(function () {
		setTimeout(function() {
			$('#mainpage .section-about').addClass('active');
		}, 0);
	});
</script>