@{
    ViewData["Title"] = "Trang chủ";
}
<div class="section section-home fp-auto-height-responsive fp-section anim fp-completely" data-section="home" data-anchor="home">
	<div class="fp-scrollable">
		<div class="fp-scroller" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
		   <div class="content">
			  <!-- Begin of Left Content -->
			  <section class="c-left anim">
				 <div class="wrapper fit">
					<!-- Logo Instead of clock -->
					<div class="home-logo ">
					   <img alt="Logo" class="" src="https://3.bp.blogspot.com/-7WB9h4wW_P4/WOTgv6XkMsI/AAAAAAAAAI8/O1jptZ7HX24WszeHgoRLUiTVKwhG0fJVwCLcB/s1600/15400349_1756829767975444_7652480590867339544_n.jpg">
					</div>
				 </div>
			  </section>
			  <!-- End of Left Content -->
			  <!-- Begin of Right Content -->
			  <section class="c-right anim">
				 <div class="wrapper">
					<!-- Title and description -->
					<div class="title-desc">
					   <div class="t-wrapper">
						  <!-- Logo -->
						  <!--<div class="logo home-logo "> <img class="" src="img/logo.png" alt="Logo"> </div>-->
						  <!-- Title -->
						  <header class="title">
							 <span class="anim-wrapper">
								<h2><strong>About</strong>
								   <br>  Văn Tây 
								</h2>
							 </span>
							 <span class="anim-wrapper">
								<h3>Fb.com/RimNi.Info</h3>
							 </span>
						  </header>
						  <!-- desc -->
						  <div class="desc">
							 <span class="anim-wrapper">
								<p>Nếu bạn nghĩ bạn thất bại thì,.. Đúng! Bạn đã thất bại.</p>
							 </span>
						  </div>
					   </div>
					</div>
					<!-- Action button -->
					<div class="cta-btns">
					   <span class="anim-wrapper"><a class="btn arrow-circ-btn" href="#about-us">
					   <span class="txt">Xem Thêm</span>
					   <span class="arrow-icon"></span>
					   </a></span>
					   <span class="anim-wrapper"><a class="btn arrow-circ-btn" href="#" target="_blank">
					   <span class="txt">Tải Ngay</span>
					   <span class="arrow-icon"></span>
					   </a></span>
					</div>
				 </div>
			  </section>
			  <!-- End of Right Content -->
		   </div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
		setTimeout(function() {
			$('#mainpage .section-home').addClass('active');
		}, 100);
	});
</script>